# Лабораторная работа 1

### Разделение массива на количественный и качественный

In [1]:
# импорт библиотек
import numpy as np
import pandas as pd
import scipy.stats as stats

In [25]:
# выгрузка данных
df_0 = pd.read_csv('V11.csv', sep=';', decimal=',')
df_0.head()

    A6       A10   A13  A16      A18   A20   A21  A22    A23  A37     A40
0  key    coated  line  821  tabloid  1911  25.0   38  0.200   40  noband
1  key    coated  line  816  spiegel  1910  45.0   54  0.167   35  noband
2  key    coated  line  827  tabloid  1911  50.0   46  0.200   40  noband
3  key  uncoated  line  802  catalog  1910  47.5   52  0.267   33    band
4  key  uncoated  line  815  catalog  1911  50.0   60  0.300   40    band

In [26]:
# создадим 2 датафрейма - качественные и количественные данные
df_1 = df_0.copy()
#df_1.head()

df_2 = df_0.copy()
df_2.head()

    A6       A10   A13  A16      A18   A20   A21  A22    A23  A37     A40
0  key    coated  line  821  tabloid  1911  25.0   38  0.200   40  noband
1  key    coated  line  816  spiegel  1910  45.0   54  0.167   35  noband
2  key    coated  line  827  tabloid  1911  50.0   46  0.200   40  noband
3  key  uncoated  line  802  catalog  1910  47.5   52  0.267   33    band
4  key  uncoated  line  815  catalog  1911  50.0   60  0.300   40    band

In [27]:
# Произведем калибровку качественных данных с учетом априорного шанса с поправкой Лапласа
# С помощью формулы мы получили числа в таблице Excel, вставим их в дф, изменив старые значения

# A6
replace_dict = {'key': 0.001311808, 'type': 1}
df_1['A6'] = df_1['A6'].replace(replace_dict)
df_2['A6'] = df_2['A6'].replace(replace_dict)

# A10
replace_dict = {'coated': 0.00200664, 'uncoated': 0.002898667, 'super': 1}
df_1['A10'] = df_1['A10'].replace(replace_dict)
df_2['A10'] = df_2['A10'].replace(replace_dict)

# A13
replace_dict = {'line': 0.001308837, 'xylol': 0.176470588, 'lactol': 1, 'naptha': 0.076923077, 'other': 1}
df_1['A13'] = df_1['A13'].replace(replace_dict)
df_2['A13'] = df_2['A13'].replace(replace_dict)

# A16
replace_dict = {821: 0.021956088, 802: 0.007407407, 813: 0.005544006, 
                824: 0.003076923, 815: 0.016248154, 816: 0.00752909, 
                827: 0.009784736, 828: 0.011124845
}
df_1['A16'] = df_1['A16'].replace(replace_dict)
df_2['A16'] = df_2['A16'].replace(replace_dict)

# A18
replace_dict = {'tabloid': 0.00255052, 'spiegel': 0.009983361, 'catalog': 0.003649231}
df_1['A18'] = df_1['A18'].replace(replace_dict)
df_2['A18'] = df_2['A18'].replace(replace_dict)

# A20
replace_dict = {1911: 0.004417834, 1910: 0.001846365, 'other': 1}
df_1['A20'] = df_1['A20'].replace(replace_dict)
df_2['A20'] = df_2['A20'].replace(replace_dict)

df_1.head()

C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1['A6'] = df_1['A6'].replace(replace_dict)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2['A6'] = df_2['A6'].replace(replace_dict)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1['A10'] = df_1['A10'].replace(replace_dict)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2['A10'] = df_2['A10'].replace(replace_dict)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1['A13'] = df_1['A13'].replace(replace_dict)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2['A13'] = df_2['A13'].replace(replace_dict)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:29: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1['A18'] = df_1['A18'].replace(replace_dict)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\2971361249.py:30: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2['A18'] = df_2['A18'].replace(replace_dict)

,A6,A10,A13,A16,A18,A20,A21,A22,A23,A37,A40
0,0.001312,0.002007,0.001309,0.021956,0.002551,0.004418,25.0,38,0.200,40,noband
1,0.001312,0.002007,0.001309,0.007529,0.009983,0.001846,45.0,54,0.167,35,noband
2,0.001312,0.002007,0.001309,0.009785,0.002551,0.004418,50.0,46,0.200,40,noband
3,0.001312,0.002899,0.001309,0.007407,0.003649,0.001846,47.5,52,0.267,33,band
4,0.001312,0.002899,0.001309,0.016248,0.003649,0.004418,50.0,60,0.300,40,band

In [28]:
df_2.head()

,A6,A10,A13,A16,A18,A20,A21,A22,A23,A37,A40
0,0.001312,0.002007,0.001309,0.021956,0.002551,0.004418,25.0,38,0.200,40,noband
1,0.001312,0.002007,0.001309,0.007529,0.009983,0.001846,45.0,54,0.167,35,noband
2,0.001312,0.002007,0.001309,0.009785,0.002551,0.004418,50.0,46,0.200,40,noband
3,0.001312,0.002899,0.001309,0.007407,0.003649,0.001846,47.5,52,0.267,33,band
4,0.001312,0.002899,0.001309,0.016248,0.003649,0.004418,50.0,60,0.300,40,band

In [29]:
# Проведем дискретизацию с равной частотой количественных данных
quantiles = [0, 0.2, 0.4, 0.6, 0.8, 1]

for column in df_1.columns[6::]:
    if column != 'A40':

        # Получение уникальных квантилей
        q = df_1[column].quantile(quantiles)
        unique_quantiles = q.unique()
        print(unique_quantiles)

        # этот массив потом вставить можно в дф
        arr = []

        # сравнение каждого значения дф с границами инт-лов
        for value in df_1[column]:
            for i in range(len(unique_quantiles)):
                if i == 0 and unique_quantiles[i] <= value <= unique_quantiles[i+1]:
                    arr.append(i+1)
                    break
                if unique_quantiles[i] < value <= unique_quantiles[i+1]:
                    arr.append(i+1)

        # создание нового столбца
        df_1[column] = arr
        

# Вывод результата
df_1.head()

[25.  37.5 40.  47.  50.  72.5]
[35. 43. 48. 54. 58. 72.]
[0.133 0.2   0.267 0.3   0.333 0.533]
[30. 35. 40. 45.]

,A6,A10,A13,A16,A18,A20,A21,A22,A23,A37,A40
0,0.001312,0.002007,0.001309,0.021956,0.002551,0.004418,1,1,1,2,noband
1,0.001312,0.002007,0.001309,0.007529,0.009983,0.001846,3,3,1,1,noband
2,0.001312,0.002007,0.001309,0.009785,0.002551,0.004418,4,2,1,2,noband
3,0.001312,0.002899,0.001309,0.007407,0.003649,0.001846,4,3,2,1,band
4,0.001312,0.002899,0.001309,0.016248,0.003649,0.004418,4,5,3,2,band

In [30]:
df_2.head()

,A6,A10,A13,A16,A18,A20,A21,A22,A23,A37,A40
0,0.001312,0.002007,0.001309,0.021956,0.002551,0.004418,25.0,38,0.200,40,noband
1,0.001312,0.002007,0.001309,0.007529,0.009983,0.001846,45.0,54,0.167,35,noband
2,0.001312,0.002007,0.001309,0.009785,0.002551,0.004418,50.0,46,0.200,40,noband
3,0.001312,0.002899,0.001309,0.007407,0.003649,0.001846,47.5,52,0.267,33,band
4,0.001312,0.002899,0.001309,0.016248,0.003649,0.004418,50.0,60,0.300,40,band

In [31]:
# преобразуем A40 в столбец с 0 и 1 в обоих дф
df_1['A40'] = df_1['A40'].apply(lambda x: 1 if x == 'band' else 0)
df_2['A40'] = df_2['A40'].apply(lambda x: 1 if x == 'band' else 0)
df_1.head()

,A6,A10,A13,A16,A18,A20,A21,A22,A23,A37,A40
0,0.001312,0.002007,0.001309,0.021956,0.002551,0.004418,1,1,1,2,0
1,0.001312,0.002007,0.001309,0.007529,0.009983,0.001846,3,3,1,1,0
2,0.001312,0.002007,0.001309,0.009785,0.002551,0.004418,4,2,1,2,0
3,0.001312,0.002899,0.001309,0.007407,0.003649,0.001846,4,3,2,1,1
4,0.001312,0.002899,0.001309,0.016248,0.003649,0.004418,4,5,3,2,1

In [32]:
df_2.head()

,A6,A10,A13,A16,A18,A20,A21,A22,A23,A37,A40
0,0.001312,0.002007,0.001309,0.021956,0.002551,0.004418,25.0,38,0.200,40,0
1,0.001312,0.002007,0.001309,0.007529,0.009983,0.001846,45.0,54,0.167,35,0
2,0.001312,0.002007,0.001309,0.009785,0.002551,0.004418,50.0,46,0.200,40,0
3,0.001312,0.002899,0.001309,0.007407,0.003649,0.001846,47.5,52,0.267,33,1
4,0.001312,0.002899,0.001309,0.016248,0.003649,0.004418,50.0,60,0.300,40,1

### Вычисление взаимной информации, коэфициента неопределенности и симметричного коэфициента

In [33]:
# импорт модулей
from sklearn.metrics import mutual_info_score
from scipy.stats import entropy
from sklearn.feature_selection import mutual_info_classif
import math

In [34]:
# создание дф для MI
columns = list(df_1.columns)
df_mi = pd.DataFrame(np.zeros((len(columns), len(columns))), index=columns, columns=columns)

# создаем массив с уникальными значениями из каждого столбца
uniq = []
for column in columns:
    uniq.append(list(df_1[column].unique()))

# поехали рассчитывать MI для каждых двух столбцов
for x_i in range(len(uniq)):
    col1 = columns[x_i]
    for y_i in range(len(uniq)):
        col2 = columns[y_i]

        if col1 != col2:
            # это собственно показатель взаимосвязи
            mi = 0

            # пошла обработка каждого столбца
            for y in uniq[y_i]:
                for x in uniq[x_i]:
                    # считаем вероятность встречи каждого значения из 1 и 2 столбцовЮ иначе говоря di* и dij
                    py = len(df_1[df_1[col2] == y]) / 500
                    px = len(df_1[df_1[col1] == x]) / 500
                    
                    # nij
                    pxy = len(df_1[(df_1[col2] == y) &
                                (df_1[col1] == x)]) / 500
                    
                    # Если nij != 0, то считаем MI согласно формуле (4) из лекции 2
                    if pxy != 0:
                        mi += pxy * math.log2((pxy) / (px * py))
            df_mi.loc[col1, col2] = mi
        else:
            df_mi.loc[col1, col2] = None

# кайфарики
print(df_mi)

      A6       A10       A13       A16       A18       A20       A21  \
A6   NaN  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
A10  0.0       NaN  0.028193  0.208490  0.185715  0.004514  0.133396
A13  0.0  0.028193       NaN  0.056286  0.029742  0.011425  0.041339
A16  0.0  0.208490  0.056286       NaN  0.664340  0.046477  0.197190
A18  0.0  0.185715  0.029742  0.664340       NaN  0.006847  0.126823
A20  0.0  0.004514  0.011425  0.046477  0.006847       NaN  0.009757
A21  0.0  0.133396  0.041339  0.197190  0.126823  0.009757       NaN
A22  0.0  0.003440  0.037222  0.122302  0.033222  0.054112  0.098187
A23  0.0  0.017149  0.030020  0.074398  0.016711  0.033534  0.076144
A37  0.0  0.010993  0.002784  0.069026  0.026946  0.133759  0.058541
A40  0.0  0.027052  0.017369  0.091931  0.002080  0.002237  0.026882

          A22       A23       A37       A40
A6   0.000000  0.000000  0.000000  0.000000
A10  0.003440  0.017149  0.010993  0.027052
A13  0.037222  0.030020  0.002784  0.017369
A16  0.122302  0.074398  0.069026  0.091931
A18  0.033222  0.016711  0.026946  0.002080
A20  0.054112  0.033534  0.133759  0.002237
A21  0.098187  0.076144  0.058541  0.026882
A22       NaN  0.087130  0.220552  0.017370
A23  0.087130       NaN  0.047419  0.016061
A37  0.220552  0.047419       NaN  0.027744
A40  0.017370  0.016061  0.027744       NaN

In [35]:
# расчет коэф-та неопределенности

df_uc = pd.DataFrame(np.zeros((len(columns), len(columns))), index=columns, columns=columns)
df_su = pd.DataFrame(np.zeros((len(columns), len(columns))), index=columns, columns=columns)

for x_i in range(len(uniq)):
    col1 = columns[x_i]
    for y_i in range(len(uniq)):
        col2 = columns[y_i]

        if col1 != col2:
            # коэф-т неопр-ти
            #uc = df_mi[col1][col2] / df_mi[col2][col2]
            
            H_y = 0
            for y in uniq[y_i]:
                # по формуле из лекции считаем энтропию отклика H(этта)
                py = len(df_1[df_1[col2] == y]) / 500                   
                H_y += py * math.log2(py)
            if H_y != 0:
                df_uc.loc[col1, col2] = df_mi[col1][col2] / -H_y
        else:
            df_uc.loc[col1, col2] = None

print(df_uc)

      A6       A10       A13       A16       A18       A20       A21  \
A6   NaN  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
A10  0.0       NaN  0.118992  0.071683  0.139139  0.004851  0.057551
A13  0.0  0.029261       NaN  0.019352  0.022283  0.012279  0.017835
A16  0.0  0.216388  0.237565       NaN  0.497729  0.049951  0.085074
A18  0.0  0.192751  0.125530  0.228413       NaN  0.007359  0.054715
A20  0.0  0.004685  0.048220  0.015980  0.005130       NaN  0.004209
A21  0.0  0.138450  0.174477  0.067798  0.095017  0.010486       NaN
A22  0.0  0.003571  0.157102  0.042050  0.024890  0.058157  0.042361
A23  0.0  0.017799  0.126703  0.025579  0.012520  0.036041  0.032851
A37  0.0  0.011410  0.011751  0.023732  0.020188  0.143758  0.025256
A40  0.0  0.028077  0.073310  0.031608  0.001558  0.002404  0.011598

          A22       A23       A37       A40
A6   0.000000  0.000000  0.000000  0.000000
A10  0.001505  0.007722  0.013041  0.027930
A13  0.016279  0.013518  0.003303  0.017933
A16  0.053489  0.033503  0.081886  0.094915
A18  0.014530  0.007525  0.031966  0.002148
A20  0.023666  0.015101  0.158678  0.002310
A21  0.042942  0.034289  0.069447  0.027754
A22       NaN  0.039236  0.261640  0.017934
A23  0.038106       NaN  0.056253  0.016582
A37  0.096458  0.021353       NaN  0.028645
A40  0.007597  0.007232  0.032913       NaN

In [36]:
# расчет коэф-та неопределенности и симметричный коэф-т

for x_i in range(len(uniq)):
    col1 = columns[x_i]
    for y_i in range(len(uniq)):
        col2 = columns[y_i]

        if col1 != col2:
            df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])

        else:
            df_su.loc[col1, col2] = None

print(df_su)

      A6       A10       A13       A16       A18       A20       A21  \
A6   NaN  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
A10  0.0       NaN  0.046971  0.107691  0.161615  0.004766  0.081305
A13  0.0  0.046971       NaN  0.035789  0.037847  0.019573  0.032362
A16  0.0  0.107691  0.035789       NaN  0.313128  0.024213  0.075460
A18  0.0  0.161615  0.037847  0.313128       NaN  0.006045  0.069442
A20  0.0  0.004766  0.019573  0.024213  0.006045       NaN  0.006007
A21  0.0  0.081305  0.032362  0.075460  0.069442  0.006007       NaN
A22  0.0  0.002117  0.029501  0.047084  0.018348  0.033642  0.042650
A23  0.0  0.010771  0.024430  0.029010  0.009400  0.021284  0.033554
A37  0.0  0.012171  0.005156  0.036799  0.024747  0.150850  0.037041
A40  0.0  0.028003  0.028817  0.047423  0.001806  0.002356  0.016359

          A22       A23       A37       A40
A6   0.000000  0.000000  0.000000  0.000000
A10  0.002117  0.010771  0.012171  0.028003
A13  0.029501  0.024430  0.005156  0.028817
A16  0.047084  0.029010  0.036799  0.047423
A18  0.018348  0.009400  0.024747  0.001806
A20  0.033642  0.021284  0.150850  0.002356
A21  0.042650  0.033554  0.037041  0.016359
A22       NaN  0.038663  0.140952  0.010673
A23  0.038663       NaN  0.030956  0.010072
A37  0.140952  0.030956       NaN  0.030631
A40  0.010673  0.010072  0.030631       NaN

C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_27712\3321974919.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  df_su.loc[col1, col2] = 2 / (1 / df_uc[col1][col2] + 1 / df_uc[col2][col1])

### Проверка гипотезы о значимости взаимосвязей

In [37]:
# создание дф для квантилей MI
columns = list(df_1.columns)
df_q_mi = pd.DataFrame(np.zeros((len(columns), len(columns))), index=columns, columns=columns)

# создаем массив с уникальными значениями из каждого столбца
uniq = []
for column in columns:
    uniq.append(list(df_1[column].unique()))

# создаем массив для сортировки по возростанию полученных после всех перестановок MI
arrMI = []

# задаем квантиль
q = 0.95

# количество строк
n = len(df_1.index)

# функция подсчета nij (pxy)
def calc_nij(col1, col2, x, y):
    res = 0
    for i in range(n):
        if col1[i] == x and col2[i] == y:
            res+=1
    return res/n

# поехали рассчитывать квантили MI для каждых двух столбцов
for x_i in range(len(uniq)):
    col1 = columns[x_i]
    for y_i in range(len(uniq)):
        col2 = columns[y_i]

        if col1 != col2:
            # количество перестановок можно поменять
            for i in range(500):
            #for i in range(100):

                # это собственно показатель взаимосвязи
                mi = 0

                # Перестановка в столбце col2
                column2 = df_1[col2].sample(frac=1).values
                column1 = df_1[col1].values

                # пошла обработка каждого столбца
                for y in uniq[y_i]:
                    for x in uniq[x_i]:
                        # считаем вероятность встречи каждого значения из 1 и 2 столбцов иначе говоря di* и dij
                        py = len(df_1[df_1[col2] == y]) / n
                        px = len(df_1[df_1[col1] == x]) / n
                        
                        # nij
                        pxy = calc_nij(column1, column2, x, y)
                        
                        # Если nij != 0, то считаем MI согласно формуле (4) из лекции 2
                        if pxy != 0:
                            mi += pxy * math.log2((pxy) / (px * py))
            
                arrMI.append(mi)
                
            # добавляем в массив изначальное MI
            arrMI.append(df_mi[col1][col2])
            # сортируем по возрастанию
            arrMI.sort()

            # добавляем в итоговый дф задаваемый квантиль
            df_q_mi.loc[col1, col2] = arrMI[round(len(arrMI)*q) - 1]
            arrMI.clear()
        else:
            df_q_mi.loc[col1, col2] = None

# кайфарики
print(df_q_mi)

print('\n')

# дф которая показывает, где гипотеза о независимости отвергается(1), а где не отвергается(0) 
df_hypothesis_mi = pd.DataFrame(np.zeros((len(columns), len(columns))), index=columns, columns=columns)
for col1 in columns:
    for col2 in columns:
        if col1 != col2:
            if df_mi[col1][col2] >= df_q_mi[col1][col2]:
                df_hypothesis_mi.loc[col1, col2] = 1
            else:
                df_hypothesis_mi.loc[col1, col2] = 0
        else:
            df_hypothesis_mi.loc[col1, col2] = None
print(df_hypothesis_mi)

      A6       A10       A13       A16       A18       A20       A21  \
A6   NaN  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
A10  0.0       NaN  0.009665  0.019481  0.009436  0.005204  0.014053
A13  0.0  0.009665       NaN  0.032670  0.014222  0.009547  0.021676
A16  0.0  0.019939  0.032085       NaN  0.037261  0.019960  0.062257
A18  0.0  0.009801  0.012598  0.036535       NaN  0.007712  0.022588
A20  0.0  0.005564  0.009547  0.020531  0.009287       NaN  0.014258
A21  0.0  0.013526  0.023165  0.062443  0.021944  0.013861       NaN
A22  0.0  0.013572  0.021979  0.061731  0.024561  0.014777  0.036949
A23  0.0  0.014616  0.022005  0.062507  0.023206  0.013549  0.039228
A37  0.0  0.009622  0.012126  0.035440  0.015036  0.009432  0.023243
A40  0.0  0.005999  0.010772  0.019977  0.009029  0.004865  0.014892

          A22       A23       A37       A40
A6   0.000000  0.000000  0.000000  0.000000
A10  0.015348  0.013091  0.010136  0.007166
A13  0.022783  0.020977  0.011278  0.009430
A16  0.062229  0.063741  0.035298  0.020884
A18  0.024021  0.022209  0.014946  0.008112
A20  0.014008  0.014527  0.009801  0.005949
A21  0.040062  0.040029  0.022252  0.012673
A22       NaN  0.038353  0.023356  0.014524
A23  0.037999       NaN  0.022810  0.013806
A37  0.022773  0.022136       NaN  0.009636
A40  0.012750  0.012765  0.010279       NaN


      A6  A10  A13  A16  A18  A20  A21  A22  A23  A37  A40
A6   NaN  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
A10  1.0  NaN  1.0  1.0  1.0  0.0  1.0  0.0  1.0  1.0  1.0
A13  1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0
A16  1.0  1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0  1.0  1.0
A18  1.0  1.0  1.0  1.0  NaN  0.0  1.0  1.0  0.0  1.0  0.0
A20  1.0  0.0  1.0  1.0  0.0  NaN  0.0  1.0  1.0  1.0  0.0
A21  1.0  1.0  1.0  1.0  1.0  0.0  NaN  1.0  1.0  1.0  1.0
A22  1.0  0.0  1.0  1.0  1.0  1.0  1.0  NaN  1.0  1.0  1.0
A23  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  NaN  1.0  1.0
A37  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  NaN  1.0
A40  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0  1.0  NaN

In [43]:
df_q_mi

,A6,A10,A13,A16,A18,A20,A21,A22,A23,A37,A40
A6,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
A10,0.0,NaN,0.009665,0.019481,0.009436,0.005204,0.014053,0.015348,0.013091,0.010136,0.007166
A13,0.0,0.009665,NaN,0.032670,0.014222,0.009547,0.021676,0.022783,0.020977,0.011278,0.009430
A16,0.0,0.019939,0.032085,NaN,0.037261,0.019960,0.062257,0.062229,0.063741,0.035298,0.020884
A18,0.0,0.009801,0.012598,0.036535,NaN,0.007712,0.022588,0.024021,0.022209,0.014946,0.008112
A20,0.0,0.005564,0.009547,0.020531,0.009287,NaN,0.014258,0.014008,0.014527,0.009801,0.005949
A21,0.0,0.013526,0.023165,0.062443,0.021944,0.013861,NaN,0.040062,0.040029,0.022252,0.012673
A22,0.0,0.013572,0.021979,0.061731,0.024561,0.014777,0.036949,NaN,0.038353,0.023356,0.014524
A23,0.0,0.014616,0.022005,0.062507,0.023206,0.013549,0.039228,0.037999,NaN,0.022810,0.013806
A37,0.0,0.009622,0.012126,0.035440,0.015036,0.009432,0.023243,0.022773,0.022136,NaN,0.009636
A40,0.0,0.005999,0.010772,0.019977,0.009029,0.004865,0.014892,0.012750,0.012765,0.010279,NaN

In [44]:
df_hypothesis_mi
# A16 - A23: 0.063741

      A6  A10  A13  A16  A18  A20  A21  A22  A23  A37  A40
A6   NaN  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
A10  1.0  NaN  1.0  1.0  1.0  0.0  1.0  0.0  1.0  1.0  1.0
A13  1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0
A16  1.0  1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0  1.0  1.0
A18  1.0  1.0  1.0  1.0  NaN  0.0  1.0  1.0  0.0  1.0  0.0
A20  1.0  0.0  1.0  1.0  0.0  NaN  0.0  1.0  1.0  1.0  0.0
A21  1.0  1.0  1.0  1.0  1.0  0.0  NaN  1.0  1.0  1.0  1.0
A22  1.0  0.0  1.0  1.0  1.0  1.0  1.0  NaN  1.0  1.0  1.0
A23  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  NaN  1.0  1.0
A37  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  NaN  1.0
A40  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0  1.0  NaN